[2016-09-26 15:55] jnishiyama opened #2 "File Download does not work on Firefox"
This code will not work for Firefox at least 38+. Probably lower.

[2016-09-26 17:57] kennethjiang commented on #2
Resolved by PR #2

[2016-09-26 17:57] #2 closed

[2016-11-07 11:13] jellevoost opened #4 "PR for the Firefox fix has been merged but not yet published to NPM"
We are currently using the commit hash, but it would be nice if you can bump the version and publish the library to npm.

Thanks!

[2016-11-11 23:00] kennethjiang commented on #4
published.

[2016-11-11 23:00] #4 closed

[2016-12-06 15:37] tymochko opened #5 "Safari on Mac issue"
Hello,
we are experiencing weird behaviour on Safari on Mac:
instead of file start to download - blob content opens up in new tab and looks like bunch of non-readable symbols.
Rest of browsers works just fine.

[2016-12-11 18:55] kennethjiang commented on #5
sorry for the delay. will take a look when I get a chance.

[2016-12-13 23:19] kennethjiang commented on #5
I did a little research and it seems that Safari doesn't support `download` attribute, which is why it opens the content instead of triggering a download. See some of the online discussions here: https://forums.developer.apple.com/thread/11837

Have you found any solutions? @tymochko

[2016-12-14 07:49] tymochko commented on #5
@kennethjiang, unfortunately it's true. So we had to switch to solution of downloading file via api from server using
`<a href="/api/...">Donwload file</a>`

[2016-12-14 14:41] kennethjiang commented on #5
Right... I'm lucky enough that I don't have to deal with Safari. Keep me posted in case you find a JS solution on Safari.

[2017-03-16 10:20] wuppious opened #6 "Files downloaded with android are corrupted due to wrong mime type"
Solution would be to let the user to specify a mime type instead of defaulting to `text/csv`.

[2017-03-20 03:16] kennethjiang commented on #6
Sorry for the delay. Agreed that mime type should be a parameter. I'm very tied up these days - do you think you can send in a PR for it?

[2017-03-20 03:17] #5 closed

[2017-03-20 08:55] wuppious commented on #6
Sure, I'll work on it later today.

[2017-03-20 16:51] #6 closed

[2017-03-24 10:11] leniartek opened #8 "File get renamed after download differently in every browser (colon)."
When I trigger a download with a name containing a colon it gets renamed differently for every browser.
`fileDownload(data, "file:name.json");`

Chrome 53

IE 11

I know that colon cannot be saved in a file name but I expect file to be always named the same in every browser.

[2017-03-24 15:50] kennethjiang commented on #8
I think this is just nuances of handling special characters in different browsers. And it'll be the case for any file download mechanism. I don't think I can do anything to 'fix' this, but let me know if you have some ideas.

[2017-04-12 17:39] nealoke opened #10 "Dependency on react"
Hi, I just downloaded your project but it seems to also download react. Shouldn't the `dependency` in your `package.json` be replaced by `peerDependencies`?

This makes it so that it checks if the peer dependency is present, if not provide error but not always download react when installing your project.
[
See example of react-select package.json](https://github.com/JedWatson/react-select/blob/mas

[2017-04-13 18:45] kennethjiang commented on #10
With #9 merged should I close this issue? @nealoke

[2017-04-15 07:37] nealoke commented on #10
@kennethjiang yes totally ;)

[2017-04-15 07:37] #10 closed

[2017-04-16 19:00] nealoke opened #11 "File not downloading?"
I just pulled the new version and trying to make this work :)

Currently it is downloading something with the given name however it does not contain anything and looks like this (windows):

![image](https://cloud.githubusercontent.com/assets/17417414/25073459/8cdec7c0-22e7-11e7-875d-e3682c816b46.png)

I am supplying a url pointing to the file, am I doing this wrong? If so I think this would totall

[2017-04-17 03:00] kennethjiang commented on #11
Unfortunately this package doesn't work with Safari or IE. What browser are you using?

[2017-04-17 03:00] #8 closed

[2017-04-17 08:38] nealoke commented on #11
@kennethjiang Aah why not? :o And i'm using chrome :/

[2017-04-17 16:47] kennethjiang commented on #11
The reason why Safari or IE is not supported is that they don't support html5 `download` attribute, which is what this plugin is baed up.

I just tested the latest version and it still works. Can you provide a bit more info such as the code that's calling this plugin, and the network response coming back from the server?

[2017-04-26 00:17] ffxsam opened #12 "Wrong react versions"
The peer dependencies on react are wrong. React is using the format `15.x.x` now, now `0.15.x`.

[2017-04-26 00:19] ffxsam commented on #12
Added a PR #13

[2017-04-26 21:27] #12 closed

[2017-04-26 21:27] kennethjiang commented on #12
Thanks @ffxsam !

[2017-04-26 21:28] #11 closed

[2017-04-27 06:52] nealoke commented on #11
@kennethjiang sorry for the late answer, i basically used this in stead (which works fine in all browsers). I think I'll create a small github project for this

[code]

[2017-04-27 13:55] kennethjiang commented on #11
sounds good!

[2017-05-03 17:27] psachs21 opened #15 "old peer dependencies still on npm"
I've freshly installed react-file-download and it says it has the wrong peer dependencies:

`warning "react-file-download@0.3.3" has incorrect peer dependency "react@^0.14.7 || ^0.15.0".`

Since the source code no longer has these dependencies, i can only imagine that the changes have not been published properly.

[2017-05-03 17:39] kennethjiang commented on #15
My apology for the sloppiness.

Just published 0.3.4.

[2017-05-03 17:39] #15 closed

[2017-05-03 17:44] psachs21 commented on #15
Thanks for the quick response!

[2017-05-22 10:46] lmannering opened #16 "Consider revokeObjectURL?"
I considered submitting a PR for this, but would be interested to understand why the author has chosen not to implement revokeObjectURL to improve memory usage (after removing the tempLink):

windowUrl.revokeObjectURL(blobURL);

As per:
https://developer.mozilla.org/en-US/docs/Web/API/URL/createObjectURL

[2017-05-24 19:51] kennethjiang commented on #16
Sorry for the delay!

I wasn't aware of `revokeObjectURL`. Sounds like something I should have done to avoid potential memory leak. Please go ahead to send a PR.

[2017-06-07 19:05] realdubb opened #17 "License File?"
Could you provide  a license file? Hoping it's safe to assume the popular MIT license.

[2017-06-08 00:11] #17 closed

[2017-06-08 16:27] realdubb commented on #17
Thanks for this project and for adding the license! 👍

[2017-06-11 20:01] #16 closed

[2017-06-15 17:52] ejfrancis opened #19 "Remove "react" from the name and README"
This package works great, but it doesn't really have anything to do with React. It just exports a function that you can use to download an object as a file to the browser. I suggest renaming it as just "file-download" or something similar, and removing references to "React" in the documentation, so that others who aren't using React don't get the impression that they can't use it.

[2017-06-17 02:15] kennethjiang commented on #19
Good point! Will get to it at some point. Feel free to send a PR to remove all references to React. Thanks!

[2017-08-20 13:22] athiramukundan opened #22 "Unable to open a downloaded epub file"
This is in reference to [this stackoverflow question](https://stackoverflow.com/questions/45760274/download-a-epub-file-through-axios-react-file-download-lbraries-in-reactjs)

I am trying to download an epub file and I see the file being downloaded. But I am unable to open the file. I think it is corrupted or not saved to disk properly.

Here is my code -
`const FileDownload = require('react-file-

[2017-08-21 17:08] kennethjiang commented on #22
This sounds like an interesting problem. Unfortunately I'm super busy recently. You are more than welcome to take a stab at this issue. Otherwise I will circle back to it when I am more available. But that could be weeks or months later.

[2017-09-12 16:58] rudovjan opened #24 "Safari"
Unfortunately this plugin does not work with safari. Any plan to take a look on that?

[2017-09-23 17:04] kennethjiang commented on #19
This should be closed by PR #25

[2017-09-23 17:04] #19 closed

[2017-09-23 17:09] kennethjiang commented on #24
Sorry for the delay. I've been tied up recently.

This is a known issue. Look at issue #5. It seems there is a fork to address Safari https://github.com/rmiller-fc/react-file-download/commit/12c4312bb17683b434575b09ea68708a51c448eb. I can't merge that fix though as it breaks the current behavior of opening up download in a new tab.

Of course if you have better solution feel free to send in a PR.

[2017-09-26 16:17] rudovjan commented on #24
Thank you!

Strange thing happened :) So I copy&paste your code into project, change it into ES6, let it compile with babel and code started working.

1. If i left it as a es5 dependency it does not work
2. compiled to es5 using babel, started to work

Once will have little bit more time,  I have a plan to take a look on that.

[2017-09-27 14:19] kennethjiang commented on #24
Great. It'll be awesome if you can help add transpiler to this project (using rollup or similar tool) so that everyone can benefit from your work!

[2017-10-19 06:37] rizaherzego opened #26 "XML Parsing Error: no root element found Location"
When I tried to use FileDownload to download csv file in Firefox, this error occurs:
XML Parsing Error: no root element found Location:: http://xxxx/ Line Number 1, Column 1:

[2017-10-23 22:53] kennethjiang commented on #26
Can you dig a bit deeper or somehow have a way for me to reproduce the problem @rizaherzego ? We are using this package to download CSV files in our user's browsers, including Firefox and have not run into the similar problem yet.

[2017-11-02 16:46] divined opened #27 "Wrong encoding?"
[code]
-----

File downloaded, but wrong encoded, file opens as text inside xlsx -(

[2017-11-02 16:49] divined commented on #27
The same problem when i send file content from backend.
.xlsx file created with encoded content as text =(

[2017-11-03 16:09] kennethjiang commented on #27
What OS/browser are you on and their version? I will try to replicate it on my end.

[2017-11-04 10:20] divined commented on #27
Windows 10 / Chrom 61.0.3163.100

[2018-01-17 12:46] horcrux2301 commented on #27
Anybody found a solution?

[2018-01-25 22:53] PARAGJYOTI opened #28 "Coolest Library ever ! LOL ,Not an issue though ."
2 lines of code . Does what needs to be done . Savage.

[2018-01-26 19:31] kennethjiang commented on #28
Thanks @PARAGJYOTI I did this to scratch my own itch. still hope I can find a more elegant solution.

[2018-01-26 19:31] #28 closed

[2018-01-29 17:10] vivek12345 opened #29 "Does not work with iphone devices"
Since ios7 devices require a hard touch to either download or open in new tab, this code ain't working for iPhone devices.
Click does  not open the blob url file in a new tab.

[2018-02-01 22:14] fred-kruger commented on #27
I solved some problem after add
xhr.responseType = 'blob';

[2018-02-02 01:44] kennethjiang commented on #27
Cool! Can you open a PR for that @fred-kruger ? Thank you so much!

[2018-03-20 16:30] ThekhoN commented on #29
Any one got a fix for this?

[2018-04-11 06:29] biology-w opened #30 "download the image bug not open"
import fileDownload from 'js-file-download'
fileDownload('https://goss.vcg.com/fabb02f0-3c8f-11e8-84d4-a5652b728265.jpg', 'test.jpg')

download the iamge bug not open

[2018-04-11 06:32] biology-w commented on #30
Do not open the test. jpg image.

[2018-04-12 20:56] saostad opened #31 "Step by Step guide to migrate from react-file-download@0.3.5 to js-file-download"
today after
`npm` i
I got this message:

but in change-log or documents I couldn't find any migration guide.
can anybody provide a step by step guide please?

[2018-04-17 11:04] RickMeijer commented on #31
Have you tried renaming import path from 'react-file-download' to 'js-file-download'?

[2018-04-17 17:06] saostad commented on #31
thanks, it works.

[2018-04-18 15:38] kennethjiang commented on #31
Awesome. Thx @RickMeijer for helping me respond!

[2018-04-18 15:38] #31 closed

[2018-04-20 17:37] evliu commented on #30
you need to pass in the data, not a URL

[2018-05-15 13:36] fabioloreggian opened #32 "Base64 Data"
I try and send through base64 data and it just creates a file with the data as text.

Any help or advice?

[2018-05-15 13:42] fabioloreggian commented on #32
[code]

[2018-05-15 13:43] #32 closed

[2018-05-16 07:08] emanuel281 opened #33 "Using this package with Reactjs"
I tried using this package with Reactjs and it doesn't seem to work.
It seems to just save an empty PDF without actually querying the API.

[2018-05-17 07:10] amacar commented on #33
I believe that you are using it wrong. It works perfectly with reactjs. Show your example.

[2018-05-18 13:42] saostad opened #34 ".d.ts file typescript def"
is there any plan to create typescript definition?

[2018-05-21 15:08] kennethjiang commented on #34
No I don't have a plan for typescript. But feel free to submit a PR if you want to do it.

[2018-05-21 15:08] kennethjiang commented on #33
Thanks @amacar for helping me provide an answer!

[2018-05-21 15:08] #33 closed

[2018-05-21 15:09] kennethjiang commented on #30
Thanks @evliu for helping me provide the answer!

[2018-05-21 15:09] #30 closed

[2018-06-06 02:33] homecmx opened #35 "when i used js-file-download in npm,something wrong and i could not solve it"
var fileDownload = require('js-file-download');
this.$axios.post( url,
  {headers: {
    'responseType': 'arraybuffer',
    'Accept': 'application/xls'
  }}
).then(function(response) {
  fileDownload(response.data, 'user.xls');

the download file is unintelligible text.

[2018-06-20 07:54] jiteshkriplani commented on #29
I am also facing the same issue. Any solution??

[2018-06-20 08:11] VivekNayyar commented on #29
I got a temporary fix by using filesaver.js

[2018-06-20 08:16] vivek12345 commented on #29
I got a temporary fix for this using filesaver.js
https://github.com/eligrey/FileSaver.js/

Also another thing to keep in mind here working with ios devices is that do not put a tool tip on your anchor buttons because for ios devices you will then need to do a double click in order to open it in new tab.

Regarding the download thing, you can not programmatically download on ios devices, you will

[2018-06-25 11:16] vivek12345 commented on #35
@senior-developers This is some problem with the encoding that is been done from the back end api from where you are getting this response.Check with postman if it works.

[2018-06-28 08:17] Blankeer commented on #35
axios add `responseType: 'blob'` config, it work for me.
[code]

[2018-06-28 12:23] afrazahmad21 opened #36 "js-file-download does not downloads png/jpg files."
Hi,
I am currently working in a react project. I want to download file via url (http://developers.iqvis.com:8082/5b339dae14dd2757b711e56f/1530185975056-iqvis.png) but downloading png file and opening it gives error (Fatal error reading a png file: Not a png file)

here is sample code

[code]

[2018-07-13 03:35] luccafort opened #37 "adding to bom option."
Hi!
i want to blob data include bom.
because i created csv file include garbled characters Japanese.

i want to this code to be changed like this.

[code]

thanks.

[2018-07-27 21:42] CalgaryMichael commented on #22
This is an old issue and I imagine the OP has resolved the problem, but I will leave this comment for posterity.

The issue may be that you are not setting the `responseType` on the API call. I believe the following would fix the issue:

[code]

*Note*: I have never used `axios`, but this is what I believe the equivalent would be for bare `XMLHttpRequest`

[2018-08-09 13:13] neomorphic commented on #36
Try adding the following option to your get request :
[code]
eg:

[code]
That worked for me.

[2018-09-03 08:40] hemvats commented on #26
@rizaherzego were you able to resolve this issue?

[2018-09-26 18:11] FabianFrank commented on #34
@saostad Now that https://github.com/kennethjiang/js-file-download/blob/master/js-file-download.d.ts is it possible to cut a release that includes the file so that people can consume the types without manually copying them into their projects? Thank you!

[2018-09-27 15:10] saostad commented on #34
sorry I didn't get that. should I do anything?

[2018-09-27 17:22] kennethjiang commented on #34
Sorry this repo is a little out of maintenance. I'll cut a release some time today. @saostad @FabianFrank

[2018-10-26 16:48] mailrohithv opened #43 "help wanted: Not able to make this work with excel files. The downloaded excel file(xlsx) is corrupted"

[2018-10-26 17:35] #43 closed

[2018-11-08 03:17] haoliangwu commented on #27
maybe this is not the missing part about this library, just set `responseType` option in native xhr or related xhr library(eg: axios) to `blob` can solve this problem.

for sake of other people met the same problem, maybe just add troubleshooting section in README and linked to current issue is OK.

[2019-01-15 20:32] danielearwicker opened #46 "Updated type definitions don't appear to have been published"
The type definitions in this repo support Blob parameter as well as string. But the latest published version does not include this change.

[2019-01-16 13:04] kennethjiang commented on #46
The type definition was added by @Domino987 as a PR. I'm not familiar with how it works. If you can submit a PR for this i'll be happy to merge it.

[2019-01-23 07:15] Even-Lau opened #47 "How to get file name from the server?"
How to get file name from the server?

[2019-03-21 01:20] hassankhan commented on #46
@kennethjiang if you publish a new version of the package on NPM, the types will also be updated 😉

[2019-03-21 19:43] kennethjiang commented on #46
Just published a new version. Can you check if the type definition is available now? @hassankhan

Bear with me for all these basic mistakes and questions since I have not caught up on type definition in JS.

[2019-03-22 04:49] hassankhan commented on #46
Had a quick look and it all looks good to me 👍

[2019-03-22 12:31] kennethjiang commented on #46
Awesome. Closing this issue.

[2019-03-22 12:31] #46 closed

[2019-04-06 01:33] IgorBelyayev commented on #33
I've ran into this exact issue too. Downloading a PDF in React results in a blank PDF.

[2019-04-06 01:37] IgorBelyayev commented on #33
I am using `axios` and I had to add `responseType: 'blob'` to the `axios` config to get the resulting PDF to not be blank.

[2019-05-07 12:44] sajidunnar commented on #30
@evliu  Can you plesae share example to get link as data  ?

[2019-05-22 21:21] #37 closed

[2019-05-22 21:25] kennethjiang commented on #37
@lukaszflorczak @luccafort in release 0.4.6 now.

[2019-05-23 11:12] akshaybandivadekar opened #49 "Build is breaking on IE, Due to this commit - https://github.com/kennethjiang/js-file-download/commit/8a2b1cf1b9c19cae6fd584c2c25a7b8a43d68128"
Please fix it as soon as possible

[2019-05-24 00:09] #49 closed

[2019-05-25 16:00] Auskennfuchs commented on #47
Normally the server should send the content with some Header information with the used filename. Afaik the standard header is Content-Disposition. So you can parse this header of the response and set the correct filename.
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Disposition

[2019-05-26 02:51] thidasapankaja opened #51 "The file downloads but broken"
I'm implementing a youtube video downloader using [ytdl-core][1] with Nodejs backend and Reactjs frontend. However, using [ytdl-core](https://www.npmjs.com/package/ytdl-core) library I'm able to send to the youtube video file to the frontend with this code block

[code]

However, the file downloads correctly if I redirect the webpage to the route like this

    window.location.href = `http://local

[2019-05-27 16:04] thidasapankaja commented on #51
using `responseType: 'blob'` makes it work.

[code]

[2019-05-27 16:04] #51 closed

[2019-06-05 21:21] jpauley-veem commented on #47
I am using axios.get, and I can see the Content-Disposition in the response headers on the browser, but when I console.warn the response headers, it is removed. Any ideas about this?

[2019-06-06 04:11] jpauley-veem commented on #47
Good news/bad news; turns out the service needs to expose this in order to be able to read it.

I would request an enhancement though, where if no filename is provided, it tries to replace with the value from headers.

[2019-08-12 16:03] agmcleod commented on #22
@CalgaryMichael thanks for that. Fixed an issue I had with downloading a zip file.

[2019-08-13 15:22] jwhitmarsh commented on #43
@mailrohithv did you get this working in the end?

[2019-08-13 15:42] mailrohithv commented on #43
Yes thanks for following up!

Best Regards,
Rohith

On Tue, Aug 13, 2019 at 11:22 AM James <notifications@github.com> wrote:

[2019-08-27 06:58] vilbergs opened #53 "Can't mock the module in TypeScript"
Hey.

I'm having a very hard time mocking the fileDownload export. Not sure exactly how to do it correctly.

Error: `Error: Uncaught [TypeError: js_file_download_1.default is not a function]`

My attempt to mock.

[code]

[2019-08-27 15:05] vilbergs commented on #53
I see now where I went wrong.

The default export is the `fileDownload` function. I guess I was attempting to mock a `module.exports` object.

[2019-08-27 15:05] #53 closed

[2019-08-27 15:06] vilbergs commented on #36
Should this issue be closed?

[2019-08-28 19:43] #36 closed, assigned to nobody

[2019-11-12 10:00] ghost opened #54 "get a broken file"
"js-file-download": "^0.4.8",

`
import download from "js-file-download";

 download('http://lixing-develop.oss-cn-hangzhou.aliyuncs.com/large_file/1573546365135.png','你')
`
where fix it??

[2019-12-09 17:12] exihuatl commented on #24
I've created a simple PR with a fix/workaround: #55

[2019-12-10 01:16] kennethjiang commented on #24
Sorry just saw your comment. Can you give a bit more details on how your PR fixes this issue? Thanks lot @exihuatl

[2019-12-10 11:35] exihuatl commented on #24
@kennethjiang The problem is that we are removing blob in the same cycle as opening a new window. This causes some problems for iOS Safari which shows an enigmatic error message.

Some resources:
https://discussions.apple.com/thread/250191294
https://github.com/mozilla/pdf.js/issues/8152
https://bugs.webkit.org/show_bug.cgi?id=190351

[2020-01-06 10:50] superdopey commented on #35
I got base64 data from the server.  To use base64 with js-file-download I had to convert the data to a blob. This can be done with the following method:

`const b64toBlob = (b64Data, contentType='', sliceSize=512) => {
  const byteCharacters = atob(b64Data);
  const byteArrays = [];

  for (let offset = 0; offset < byteCharacters.length; offset += sliceSize) {
    const slice = byteCharacters.slic

[2020-01-22 14:59] cakidnyc commented on #47
Here's how you can get the filename from the header (if it's specified):
https://stackoverflow.com/questions/41812056/extract-both-json-and-headers-from-fetch

[2020-01-30 09:21] phamxuanphuc opened #56 "export CSV encoding utf-8 issue"
I did it but 'ı,ü,ö,ğ,ş' this characters looks like 'Ä± Ã¼ Ã¶ ÄŸ ÅŸ' in the CSV file.
Can anyone solve this problem?

[2020-03-04 08:21] Vovan-VE commented on #24
The problem still exists on Safari/13.3.1. Sometimes it works, sometimes it's not. Behavior is unstable. Look's like `0` timeout is not enough.

[2020-03-31 07:07] zzynx opened #60 "Downloading several files in batch"
I try to use this library in my React PWA for downloading a bunch of files like this: The user
1. selects a number of items in a list and 2. presses an export button

The piece of typescript code that I use is this:
[code]
I experience that if the user eg. selects 20 items, the result is only 10 or 15 downloaded xml files.
If I add logging for each file, I see that each of the 20 files is mentione

[2020-03-31 22:42] EnderAdel opened #61 "Blob is not defined"
I keep receiving the error message, that comes from the file "file-download.js" at line 3, whenever I try to run that line of code:
[code]

[2020-04-03 07:31] zzynx opened #62 "Downloading everything else than TXT leads to broken file (no server involved)"
Hi,
My use case: in my React PWA a user can choose an attachment (of type TXT, JPG, PNG, PDF or ZIP).
The user should be able to download that attachment again too.
When I chose a TXT file, the downloaded file is correct. Every other type is broken (badly encoded?).

Here's my typescript code (for a ZIP file) stripped down to the bare minimum:
It starts with a simple input on my page:
[code]
and t

[2020-04-03 07:40] zzynx commented on #61
I ran that code without any errors on Windows 10 in the latest Chrome and it created an empty hey.txt file.
What's your browser type and version? OS? (Latest js-file-download version, I presume.)

[2020-04-10 18:28] EnderAdel commented on #61
I use the latest versions of Electron, chrome, and js-file-downlaod.

[2020-04-14 09:00] adesm commented on #61
alloo still got message Blob is not defined. why ? please?

[2020-04-14 10:20] EnderAdel commented on #61
I've also been getting that Blob message and I didn't know why. So I've removed the package and used another tactic to download things...

[2020-04-24 01:41] jhoanborges commented on #54
same problem

[2020-04-24 21:02] gnorbsl commented on #61
Same issue

[2020-04-27 12:15] #61 closed

[2020-05-06 17:42] robmarshall commented on #29
Solution to this is updating this line: https://github.com/kennethjiang/js-file-download/blob/1e7eb4d86cc660751660c81a55b9e50b0dadff2a/file-download.js#L33

to: 200

[2020-05-06 17:44] robmarshall commented on #29
@kennethjiang If I create a PR for this, would you be happy to merge it? I need it for a project I am working on.

[2020-05-06 20:06] kennethjiang commented on #29
merged and released in 0.4.12. Closing now. Thanks everyone for pitching in!

[2020-05-06 20:06] #29 closed

[2020-05-12 20:12] 1212gmartinez opened #64 "Update releases or add changelog?"
Title^
Would be nice to know what changes are happening with this project!

[2020-05-14 13:39] penkov1234 commented on #62
I'm also getting corrupted .xls file. Tested on Postman and it works correctly.

[2020-05-19 07:05] zhangminggeek commented on #54
same problem in 0.4.12

[2020-05-19 07:23] zhangminggeek commented on #54
it works

[code]

[2020-05-20 17:27] ignatvilesov commented on #62
It works if you provide a file as a `Blob`: https://developer.mozilla.org/en-US/docs/Web/API/Blob

[2020-05-20 17:28] ignatvilesov commented on #54
@zhangminggeek is 100% correct. Binary files should be in [Blob](https://developer.mozilla.org/en-US/docs/Web/API/Blob) format :rocket:

[2020-05-28 09:05] LoveMeWithoutAll commented on #54
@zhangminggeek responseType 'blob' works perfectly. You saved my life!

[2020-05-29 13:08] imOscarCrespo opened #65 "strange behavior when selecting text"
Hi! I would like to know if someone has faced with this behavior before. The problem comes when I try to copy a text, it seems as if the strings have split in letters.

This is how I call the fileDownloaded:
`fileDownload(
      Buffer.from(data, 'base64'),
      `expedition.pdf`
    );`

Thank you in advance!!
<img width="152" alt="Captura de pantalla 2020-05-29 a las 15 04 31" src="https://user-

[2020-06-01 21:45] SouzaJBR commented on #56
I have the same problem, but in my case, it is caused by the CSV reader (LibreOffice) choosing a wrong charset to open the file. I can open the downloaded file without the issue in a text editor (like Notepad).

To help the reader detect the correct charset, I included a BOM at the beginning, as it showed [here](https://stackoverflow.com/a/38192870/7048104).

[code]

[2020-07-09 15:50] abhiram04 opened #66 "Unable to download in Edge Browser"
Hey the download works in chrome and mozzila but it is not working in edge browser. please help me out here ASAP.

Thanks in Advance.

[2020-07-28 14:39] donovanclarke commented on #54
This also just saved my life. Thank you kindly.

[2020-07-29 22:52] LeslieMurphy commented on #66
It is working fine for me!   Try using a tool like Fiddler to capture the request / response and see if perhaps you are missing some sort of headers on the server side.    I am using this:  `axios.get("http://localhost:8000/xxx")
                .then((response) => {
                        FileDownload(response.data, "LOGFILE_" + record.id + ".log");
                    })
                .catch(

[2020-08-10 12:44] roti opened #67 "ES6 import not working"
When using `js-file-download` with an ES6 import it expects the default export to be in `.default`.
When importing like this:
[code]
I get following error:
[code]

This is probably some incompatibility between CommonJS and ES6 modules. There is a workaround, using the entire module as the function:
[code]

[2020-08-11 12:41] akahmis commented on #67
just add window.fileDownload = require('js-file-download') in app.js file and use it like fileDownload(fileLocation, filename);

[2020-08-16 17:38] benemohamed commented on #66
test on mozzila and Chromium working fine for me to
try to print the `response`, for me the `response` is csv data so don't add `response.data` just add `response`
[code]

[2020-08-18 03:37] motevets commented on #67
@roti I'm not able to reproduce this in my projects. I use

[code]

without any errors. Are you using Babel or Typescript? Could you please put together a codepen or small repo that reproduces the problem?

[2020-08-18 14:50] motevets commented on #66
@abhiram04 is this still an issue for you? If so, could you post a small repo or codepen reproducing the problem?

[2020-08-18 14:56] motevets commented on #65
@imOscarCrespo, I take it the highlighting is happening in the resulting downloaded PDF file? I haven't seen this behaviour myself,  and my intuition is that this most likely is being caused by whatever is generating the PDF `data`. If you could post a small repo or codepen that reproduces the problem, I'd be happy to take a look.

[2020-08-18 15:40] motevets commented on #64
Hey @1212gmartinez! Thank you for the suggestion. I just became a maintainer for this project. I went back and tagged all of the releases, and going forward, I'll create GitHub releases for each new version that describe what changed.

Please let me know if you have other feedback.

[2020-08-18 15:40] #64 closed

[2020-08-18 15:53] motevets commented on #62
Thank you @ignatvilesov for pointing folks in the right direction.

[2020-08-18 15:53] #62 closed

[2020-08-18 15:54] motevets commented on #54
Thank you @zhangminggeek for the code snippet and @ignatvilesov for the explaination.

[2020-08-18 15:54] #54 closed

[2020-08-18 21:07] motevets commented on #60
Thanks for your bug report. I was able to reproduce this issue, but after some research, it appears that this is an intended (or at least commonly observed) behaviour of Chrome and not a bug in js-file-download. See https://stackoverflow.com/a/54200538.

It's not clear what exactly is causing this, but if I had to guess, I'd say it's because [Chrome doesn't allow more than six concurrent downloads

[2020-08-18 21:07] #60 closed

[2020-08-19 15:44] motevets commented on #47
@jpauley-veem that sounds like an interesting feature. However, `js-file-download` only takes the data to be saved, not the response object, so it wouldn't have access to the headers. Even if it did, there would be some edge cases to think about. For instance: what would be the fallback behaviour if js-file-download couldn't determine a filename from the header or the header isn't specified. Also,

[2020-08-19 15:44] #47 closed

[2020-08-19 15:45] motevets commented on #35
Closing as I believe the question was answered.

[2020-08-19 15:45] #35 closed

[2020-08-19 15:46] motevets commented on #27
I've added something to the README to help people avoid this gotcha.

[2020-08-19 15:46] #27 closed

[2020-08-19 15:48] motevets commented on #26
Closing due to inactivity. @rizaherzego, if this is still an issue for you, I'll be happy to reopen it.

[2020-08-19 15:48] #26 closed

[2020-08-19 15:51] motevets commented on #24
I believe that #63 fixes this issue (which has been released in 0.4.12). If this issue still persists, please feel free to open a new issue.

[2020-08-19 15:51] #24 closed

[2020-08-19 15:53] #22 closed

[2020-08-31 06:02] littlehome-eugene commented on #56
I'm having same problem, SouzaJBR 's answer is not working for me unfortunately..

[2020-08-31 12:07] motevets commented on #56
@littlehome-eugene, sorry to hear that. Could you post some code that reproduces your issue?

[2020-08-31 15:02] littlehome-eugene commented on #56
[code]

I tried the above version, and the with `bom` version as well..

[2020-08-31 15:10] motevets commented on #56
Thanks for getting back so promptly. Could you also please provide a sample CSV file that reproduces the issue? Lastly, could you let me know what browser you're using, and what program you're using to open the CSV file?

[2020-09-01 13:02] littlehome-eugene commented on #56
I used chrome

I used microsoft excel (not sure which version, but I was on windows 10, the computer was bought less than 6 month, so fairly new version of office I guess)

attaching the sample file as well.

[order-1.csv.zip](https://github.com/kennethjiang/js-file-download/files/5156336/order-1.csv.zip)

[2020-09-02 03:03] motevets commented on #56
I was not able reproducing the issue.  I made [this codesandbox](https://codesandbox.io/s/js-file-downloadwith-api-call-bib4u) that replicates fetching the CSV through an AJAX request, and was able to download the CSV and load it into Excel 365.

## Steps
1. downloaded and unzipped your sample CSV
1. loaded it in Excel successfully
1. removed the BOM
1. confirmed that Excel could no longer load th

[2020-09-15 17:10] motevets commented on #67
Closing due to inactivity. Please feel free to open a new issue if this persists.

[2020-09-15 17:10] #67 closed

[2020-09-15 17:11] motevets commented on #66
Closing due to inactivity. Please feel free to open a new issue if this persists.

[2020-09-15 17:11] #66 closed

[2020-09-15 17:11] motevets commented on #65
Closing due to inactivity. Please feel free to open a new issue if this persists.

[2020-09-15 17:11] #65 closed

[2020-09-15 17:13] motevets commented on #56
@littlehome-eugene did you have a chance to look into this more?

[2020-09-21 11:51] littlehome-eugene commented on #56
@motevets

We couldn't fix it using js-file-download

[code]

is what we are using now.

[2020-09-21 11:52] littlehome-eugene commented on #56
Oh I thought you wanted my solution..

ok i'll try what you suggested..

[2020-09-22 01:48] littlehome-eugene commented on #56
I changed above line to
` FileDownload(response.data, 'out.csv', 'text/csv;charset=utf-8', '\uFEFF')`

and the file is not readable..
I didn't try this in your sandbox(?) I tried it on our test server

[2020-10-29 15:27] jestrickler commented on #53
@vilbergs I'm not using TypeScript, but how did you end up mocking it? I am also having trouble... I've tried:
[code]
which both print a trace that indicates it is being called in the correct place, but I cannot verify with expect. I even tried:
[code]
which logs that mockFileDownloadCalled is set to true, but is false back in the testcase when trying to verify with expect.

[2020-10-29 16:42] vilbergs commented on #53
Hey!

Been a while since I worked on this and I don't have access to the source code any more.

You could try setting the second parameter directly as a jest.fn, but I'm just firing from the hip now.

`jest.mock('js-file-download', jest.fn(() => {...}))`

[2020-10-30 12:50] vilbergs commented on #53
@jestrickler Could you show me how you're implementing this in your test? Is the mock in place before your test runs?

[2020-10-30 13:37] jestrickler commented on #53
@vilbergs I've tried a couple ways. Please see https://stackoverflow.com/questions/64465087/how-to-mock-a-3rd-party-module-that-is-just-a-function-js-file-download. I think it's actually working, but maybe a timing issue where I need to waitFor the calls, but unfortunately I'm also using react-keyed-file-browser which has some issues with waitFor. I can print fileDownload.mock.calls at the point o

[2020-10-30 14:39] kindrowboat commented on #53
Thank you @vilbergs for being helpful. If at the end of this, you find that some documentation would be useful, please feel free to tag me or make a PR.

[2020-11-18 15:46] theromie opened #69 "Trying to download PDF file but Failed to load PDF"
I try to download the file in react using Axios but it failing in both conditions.

I am using Nodejs as backend with sending response in `fs.createReadStream() `and `pipe()`

[2020-12-11 16:41] kindrowboat commented on #69
Hey @theromie. Could you post a small repo that reproduces the problem?

[2021-01-04 20:53] paultrimor opened #70 "ReferenceError: Blob is not defined"
I get a `ReferenceError: Blob is not defined`. When I run the code below.
I am using NodeJS and Electron.

[code]

[2021-01-05 06:22] theromie commented on #69
@motevets I solve this issue. It was some error in the backend.

[2021-01-05 06:22] #69 closed, assigned to nobody

[2021-01-06 22:35] paultrimor commented on #70
Okay, it looks like NodeJS does not support Blob class.

[2021-01-07 14:08] kindrowboat commented on #70
I don't know much about Electron. If you do manage to get either this
library or something else working, I'd be happy to either add documentation
or support in this library.

[2021-02-21 12:51] rsxdalv opened #71 "Importing in TypeScript"
What is the proper way to import the module in typescript?
The definition file suggests that it's a default export, however, TypeScript interprets that as having module.default, which this module does not in fact have. With the current definition file, the only way to get typed and working function is this:

[code]

Using default import returns undefined.

[code]

[2021-02-21 12:52] rsxdalv commented on #71
#67

[2021-02-24 06:14] fama1024 commented on #71
I use it like this: import fileDownloader from 'js-file-download';

Maybe there is a problem with your configuration

[2021-02-24 14:53] rsxdalv commented on #71
Let's compare tsconfig.json for now:

[code]

[2021-03-03 13:54] kindrowboat commented on #71
@rsxdalv , here's a tsconfig.json that I'm using in [a simple "Hello World" test app](https://codesandbox.io/s/js-file-downloadts-hello-world-b32vk).

[code]

index.ts:
[code]

[2021-03-03 15:37] rsxdalv commented on #71
Thank you, it seems that --esModuleInterop is the change, my tsconfig file was so old it didn't even have it.
I'll test it and close this if enabling this setting causes no problems.

[2021-03-04 12:20] rsxdalv commented on #71
Seems to be the way to go, since all of my newly generated tsconfigs include it by default.

[2021-03-04 12:20] #71 closed, assigned to nobody

[2021-03-23 14:57] fodkastir opened #72 "Unable to download in Chrome on iOS"
Hi team,

We use this package to implement CSV and ICS download functionality. It works fine on desktop and android devices(for all browsers) but for some reason, it does not work for Chrome on iOS(Safari works).
We wonder if anyone has experienced the same issue and could share the solution.

Thanks!

[2021-04-01 22:42] justin-hackin commented on #70
@paultrimor you shouldn't need this library if you are performing the code in the electron main context, instead you can use the nodejs fs.writeFile* functions (axios works on the backend too but you have other options like node-fetch) and you also have the benefit of https://www.electronjs.org/docs/api/dialog#dialogshowsavedialogbrowserwindow-options there too

[2021-04-04 16:23] kindrowboat commented on #70
I think @justin-hackin is correct. I'll close the issue.

[2021-04-04 16:23] #70 closed, assigned to nobody

[2021-04-04 16:25] kindrowboat commented on #72
Hey @fodkastir, unfortunately I do not have an iOS device to test on. If you or anyone else have such a device and the gumption to take this on, I'd be happy to take a PR.

[2021-04-05 11:02] ana-nd-s commented on #72
Hey @motevets
I'm also facing the same issue in downloading a pdf file in an iOS device. I am using a web view component where I am loading my web app inside which I have this download link. It's working fine on chrome and safari web browser on macOS.

I'm getting this error:

 **-canOpenURL: failed for URL: "blob:http://localhost:3000/df8c1918.......eaf2"
 - error: "This app is not allowed to que

[2021-04-10 23:26] kindrowboat commented on #72
Hmm, looks like this is particular with the way iOS applications have to whitelist URL schemes that they can open, and [similar projects are vexed by the same issues](https://github.com/eligrey/FileSaver.js/issues/12). It looks like there may be some solutions/hacks/workarounds. I won't be able to develop/test them properly without an iOS device, but I'd be happy to help someone tackle this.

[2021-06-14 13:44] mrpbennett opened #73 "getting undefined filename"
Any idea why i am getting undefined when downloading the file as the file name?

[code]

The `${route.name}.gpx` is the contents of the file

[2021-06-15 18:59] #73 closed, assigned to nobody

[2021-06-21 14:53] vajkayrene commented on #72
Hey @motevets, we are also facing this issue on IOS devices in Chrome, but Safari seems to be fixed by now. Where do you suggest we should start looking into this bug?

[2021-11-01 14:50] codewithsuraj commented on #72
Hi all,
I'm facing the same problem.
I tried many tricks to solve it.
I actually wanted to download video blob[]

Works with
1. Chrome Android
2. Chrom Windows
3. Safari iPhone
4. Safari Mac
5. Chrome Mac

Not works with
1. Chrome iPhone

If anyone found the solution then please reply.
Thank you in advance.

[2021-12-16 01:52] cantonalex commented on #72
Any updates I also have this problem

[2022-02-14 20:51] SecureExchanges commented on #72
It seems really complex for Apple to manage the blobs! I just can't believe it!

[2022-02-24 08:38] santosh-qas commented on #72
Any solution / reason for this as this is happening on all mobile browsers except Safari mobile browser.  Is this needs to be taken care by Chrome / Apple

[2022-02-25 07:26] zeeshanali555786 opened #75 "npm i js-file-download"

[2022-03-15 05:12] shafa909 commented on #72
I have Raised a Post in SOF :

https://stackoverflow.com/questions/71477035/latest-version-of-ios-chrome-not-downloading-blobs-correctly-pdf

[2022-06-30 12:53] AbrahamBrookes opened #76 "Direct downloads from Google Cloud Storage and how to set up CORS"
Leaving this here for posterity, I got slogged with this one.

In order to direct download files from GCS you need a couple of things:

- A valid signed URL to your cloud storage object
- A valid CORS configuration installed in your bucket

I am using the official google cloud storage php library to generate signed URLs: https://github.com/googleapis/google-cloud-php-storage so check their docs fo

[2022-09-12 17:57] VictoriousAura opened #78 "text split in columns with string having comma"
When a long string is to be added into a column, the data gets split into multiple columns wherever there is a comma. I haven't been able to find any work around for this yet. I also din't find anywhere within the code if comma was used a delimiter.

Any suggestions would help!

[2022-09-19 13:37] vokson opened #79 "Some files are missed if send many requests together"
Good Day,
  I try to download many small files (<50 Kb). My JS sends 20 requests togther in order to download 20 files. I have checked that all 20 responses have been received correctly. I have also checked that for 20 files tempLinks in file-download.js have been clicked and then removed after timeout.
  Problem is I can't download all requested files. More over each time I download different cou

[2022-09-22 19:40] Aqeel-0 opened #80 "Downloading in the background and when finished then showing on browsers"
Am getting a nodejs stream file as response and am using axios to receive the file, and the using js-file-downloader to download the file. The problem is that it is being downloaded in the background, i can see it in the network tab in dev mode, and the file is completely downloaded then it's showing that the file is downloaded in chrome. How can i fix this... i have found an alternate solution bu

[2022-10-03 11:20] vokson commented on #79
I found, that problem in Chrominium engine (Chrome, Edge). Firefox works fine. Safari - don't know.

[2022-10-27 13:39] austinwilcox commented on #72
Any updates on this issue? I appreciate the SOF post @shafa909.

[2022-11-30 14:05] trans-iesa commented on #80
I have the same problem..